#files{
    display: flex;             
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between;
}
#treeView
{
    float: left;
}
#saveHarForm
{
    float: right;
}

.previewer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
