#files{
    display: flex;             
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between;
}
#treeView
{
    float: left;
}
#saveHarForm
{
    float: right;
}

.previewer {
    text-align: center;
}

.description {
    text-align: center;
}
